<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Css/Login.css">
    <title>Log in</title>

</head>

<body>
    <div class="login-card">
        <div class="column">
            <h1>Login</h1>
            <form action="">
                <div class="form-item">
                    <input type="text" class="form-element" placeholder="Username or email">
                </div>
                <div class="form-item">
                    <input type="password" class="form-element" placeholder="password">
                </div>
                <div class="form-checkbox-item">
                    <input type="checkbox" id="rememberMe">
                    <label for="rememberMe">Remember me</label>
                </div>
                <div class="flex">
                    <button type="button">Sign in</button>
                    <a href="ForgotPassword.html">Reset your password</a>
                </div>
                <div class="footer">
                    <p style="margin-top: 3rem;margin-bottom: 1.5rem;">Other sign-in method</p>
                    <div class="social-button">
                        <a href="" class="google">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="column">
            <h2>Welcome to Online Quizz</h2>
            <p>If you don't have any account, would you like to register right now?</p>
            <a href="Register.html">Sign up</a>
        </div>
    </div>
</body>

</html>