<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/Css/Register.css">
    <title>Register</title>
    
</head>
<body>
    <div class="login-card">
        <div class="column">
            <h1>Register</h1>
            <form action="">
                <div class="form-item">
                    <input type="text" class="form-element" placeholder="Username">
                </div>
                <div class="form-item">
                    <input type="text" class="form-element" placeholder="Email">
                </div>
                <div class="form-item">
                    <input type="password" class="form-element" placeholder="Password">
                </div>
                <div class="form-input-field">
                    <input type="radio" id="studentRadio" checked name="userType" />
                    <label for="studentRadio">Student</label>

                    <input type="radio" id="teacherRadio" name="userType" />
                    <label for="teacherRadio">Teacher</label>
                </div>
                <div class="flex">
                    <button type="button">Register</button>
                </div>
            </form>
        </div>
        <div class="column">
            <h2>Welcome to Online Quizz</h2>
            <p>If you have an account yet, would you like to log in right now?</p>
            <a href="Login.html">Log in</a>
        </div>
    </div>
</body>
</html>