<!-- create_quiz.html -->
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="/Css/updateQuiz.css" th:href="@{/Css/updateQuiz.css}">
</head>

<body>
<h1>Update Quiz</h1>

<form id="quizForm" action="/quizzes/updateAll/${quiz.quizId}" th:action="@{'/quizzes/updateAll/' + ${quiz.quizId}}" th:object="${quiz}" method="post">
    <label for="quizName">Quiz Name:</label>
    <input type="text" id="quizName" name="quizName" th:value="${quiz.getQuizName()}" required>

    <label for="timeLimit">Time Limit:</label>
    <input type="number" id="timeLimit" name="timeLimit" th:value="${quiz.getTimeLimit()}" required>

<!--    <label for="subjectName">Subject Name:</label>-->
<!--    <input type="text" id="subjectName" name="subjectName" th:value="${quiz.subject.getSubjectName()}" required>-->

    <hr>

    <h2>Questions</h2>

    <div id="questionsContainer">
        <div class="question">
            <div th:each="question, questionIndex : ${quiz.questions}" class="question">
                <label for="newQuestionContent">New Question Content:</label>
                <input type="hidden" th:id="'questionId_' + ${questionIndex.index}" name="questionId" th:value="${question.getQuestionId()}">
                <input type="text" id="newQuestionContent" class="questionContent" name="newQuestionContent" th:value="${question.getQuestionContent()}" required>

                <label for="newQuestionType">New Question Type:</label>
                <input type="text" id="newQuestionType" class="questionType" name="newQuestionType" th:value="${question.getQuestionType()}" required>

                <label for="newImageURL">New Image URL:</label>
                <input type="text" id="newImageURL" name="newImageURL" th:value="${question.getImageURL()}">

                <label for="newVideoURL">New Video URL:</label>
                <input type="text" id="newVideoURL" name="newVideoURL" th:value="${question.getVideoURL()}">
            <hr>

            <h4>Answers</h4>

            <div class="answersContainer">
                <div th:each="answer, answerIndex : ${question.answers}" class="answer">
                    <label for="newAnswerContent">New Answer Content:</label>
                    <input type="hidden" th:id="'answerId_' + ${answerIndex.index}" name="answerId" th:value="${answer.getAnswerId()}">
                    <input type="text" id="newAnswerContent" class="answerContent" name="newAnswerContent" th:value="${answer.getAnswerContent()}" required>

                    <label for="newIsCorrect">Is Correct:</label>
                    <input type="checkbox" id="newIsCorrect" class="isCorrect" name="newIsCorrect" th:checked="${answer.getIsCorrect()}">
                </div>

            </div>

            <button type="button" onclick="addAnswer(this)">Add Answer</button>
        </div>
        </div>
    </div>

    <button type="button" onclick="addQuestion()">Add Question</button>
    <hr>

    <button type="submit" >Update Quiz</button>
</form>

<script th:inline="javascript">
    function addAnswer(button) {
        var questionDiv = button.closest('.question');
        var answersContainer = questionDiv.querySelector('.answersContainer');

        var answerDiv = document.createElement('div');
        answerDiv.classList.add('answer');

        answerDiv.innerHTML = `
                <label for="answerContent">Answer Content:</label>
                <input type="text" class="answerContent" required name="${questionDiv.querySelector('.questionContent').name.replace('[0]', '[1]')}.answers[${answersContainer.childElementCount}].answerContent">

                <label for="isCorrect">Is Correct:</label>
                <input type="checkbox" class="isCorrect" name="${questionDiv.querySelector('.questionContent').name.replace('[0]', '[1]')}.answers[${answersContainer.childElementCount}].correct">
            `;

        answersContainer.appendChild(answerDiv);
    }

    function addQuestion() {
        var questionsContainer = document.getElementById('questionsContainer');
        var questionIndex = questionsContainer.childElementCount + 1;

        var newQuestionDiv = document.createElement('div');
        newQuestionDiv.classList.add('question');

        newQuestionDiv.innerHTML = `
                <label for="questionContent"><h4>Question Content:</h4></label>
                <input type="text" class="questionContent" required name="questions[${questionIndex}].questionContent">

                <label for="questionType">Question Type:</label>
                <input type="text" class="questionType" required name="questions[${questionIndex}].questionType">

                <hr>

                <h4>Answers</h4>

                <div class="answersContainer">
                    <div class="answer">
                        <label for="answerContent">Answer Content:</label>
                        <input type="text" class="answerContent" required name="questions[${questionIndex}].answers[0].answerContent">

                        <label for="isCorrect">Is Correct:</label>
                        <input type="checkbox" class="isCorrect" name="questions[${questionIndex}].answers[0].correct">
                    </div>
                </div>

                <button type="button" onclick="addAnswer(this)">Add Answer</button>
            `;

        questionsContainer.appendChild(newQuestionDiv);

        // function submitForms() {
        //   // Submit all three forms
        //   document.getElementById('quizForm').submit();
        // document.getElementById('questionForm').submit();
        // document.getElementById('answerForm').submit();
    }
</script>
</body>
</html>